<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Cadastro</title>
    <style>
         
    </style>
</head>
<body>
    <div class="container">
        <h2>Formulário de Cadastro</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="{{form.title.id_for_label}}">Título</label> 
            {{form.title}}

            <label for="{{form.category.id_for_label}}">Categoria</label>
            {{form.category}}

            <button type="submit">Cadastrar</button>
        </form>
    </div>
</body>
</html>
