{% extends 'base.html' %}

{% block title %}Comunidades Registradas{% endblock %}

{% block content %}
<section>
    <h1>Lista completa</h1>
    <ul>
      {% for community in communities %}
        <li class="nav-link">
          <a href="{% url 'single_community' community.pk %}">{{ community.pk }} {{ community.name }}</a>
            <form action="{% url 'delete_community' community.pk %}" method="post" style="display:inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-sm">Deletar</button>
            </form>
            <form action="{% url 'update_community' community.pk %}" method="get" style="display:inline;">
              <button type="submit" class="btn btn-primary btn-sm">Atualizar</button>
            </form>
        </li>
      {% endfor %}
    </ul>
</section>
{% endblock %}
