{% extends 'base.html' %}

{% block title %}{{ community.name }}{% endblock %}

{% block content %}
<section>
    <h1>{{ community.name }}</h1>
    <h2>{{ community.description }}</h2>
    <h2>{{ community.latitude }}</h2>
    <h2>{{ community.longitude }}</h2>

    <h2>Imagens</h2>
    <div>
        {% for image in images %}
            <img src="{{ image.image.url }}" alt="Image for {{ community.name }}" style="max-width: 200px; max-height: 200px;">
        {% empty %}
            <p>Nada a ser exibido.</p>
        {% endfor %}
    </div>
</section>
{% include 'registred_news.html' %}
{% endblock %}




