<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{name}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
            <div>
                <p><strong>Name:</strong> {{name}} </p>
                <p><strong>Description:</strong> {{description}} </p>
                <p><strong>Institutional Email:</strong> {{ institutional_email }}</p>
                <p><strong>Personal Page Link:</strong> <a href="{{ personal_page_link }}">{{ personal_page_link }}</a></p>
                <p><strong>Categoria:</strong> {{ category }}</p>
            </div>
        
        <script src="" async defer></script>
    </body>
</html>