{% extends '../base.html' %}

{% block title %}Registrar Comunidade{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mt-4">Criar Notícia</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.title.id_for_label }}">Título</label>
            {{ form.title }}
        </div>
        <div class="form-group">
            <label for="{{ form.link.id_for_label }}">Link</label>
            {{ form.link }}
        </div>
        <div class="form-group">
            <label for="{{ form.text.id_for_label }}">Texto</label>
            {{ form.text }}
        </div>
        <div class="form-group">
            <label for="{{ form.date.id_for_label }}">Data</label>
            {{ form.date }}
        </div>
        <div class="form-group">
            <label for="{{ form.category.id_for_label }}">Categoria</label>
            {{ form.category }}
        </div>
        <div class="form-group">
            <label for="{{ form.community_key.id_for_label }}">Community</label>
            {{ form.community_key }}
        </div>
        <button type="submit" class="btn btn-primary">Adicionar</button>
    </form>
</div>
{% endblock %}